/*
font-family: 'Patua One', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Share Tech Mono', monospace;
font-family: 'Rajdhani', sans-serif;
*/

html,
body {
  width: 100%;
  height: 100%;

  --color1-color-: #8cfd7f;
  --color2-color-: #ff7b9e;
  --color3-color-: #3ec0ff;
  --color4-color-: #dd72a6;
  --color5-color-: #6087eb;
  --color6-color-: #fff063;
}
body {
  padding: 3%;
  border: solid 10px #ffffff;
  background-color: #000000;
  position: relative;
}
.divOne {
  background-color: #ffffff;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: relative;
}

.fab,
.far {
  color: black;
  font-size: 30px;
  margin-right: 20px

}
.fa-github {
  color: #fff063;
}
.fa-linkedin{
  color: #6087eb;
}
.fa-twitter{
  color: #dd72a6;
}
.fa-instagram {
  color: #3ec0ff;
}
.fa-facebook {
  color: #ff7b9e;
}
.fa-file-pdf {
  color: #8cfd7f;
}
.fa-file-pdf {
  margin-bottom: 50px;
}

i:hover {
  color: black;
  transform: scale(1.5);
}
.me {
  position: relative;
  width: 100%;
  height: 90%;
  filter: grayscale(100%);
  margin-top: 5px;
  border-radius: 5px;
}
#name {
  height: 22vh;
  margin-bottom: 2%;  
}
#name:hover {
  filter: grayscale(0%);
}
#links {
  color: black;
  font-size: 22px;
  font-family: 'Rajdhani', sans-serif;  float: right;
  margin-right: 10%;
  margin-top: 3%;
  
}
.link{
    color: black
}
.link:hover {
  color: #ff7b9e;
  text-decoration: none;
}
#hello {
  font-size: 20px;
  font-weight: bold;
  color: #6087eb;
  font-family: "Abel", sans-serif;
}
.header {
  background-color: #8cfd7fa1;
  font-size: 25px;
}
.summary {
  line-height: 0.6cm;
  font-family: "Courier New", Courier, monospace;
}

/* .containerTwo{
  background-color:#ff7b9e;
  height: 100%;
  width: 100%;
} */

/*---------RWD---------------*/
@media all and (min-width: 768px) and (orientation: landscape){
  .row{
    height: 100%;
  }
}
@media all and (min-width: 768px) and (orientation: portrait){
  .summary{
    padding-right: 10% !important;
    padding-left: 10% !important
  }
}
@media all and (min-width: 320px) and (orientation: portrait){
  #links{
    text-align: center;
  }
  #name{
    height: 15vh
  }
}

